.footer {
  padding-top: 30px;
  padding-bottom: 23px;
  .container {
    @include flex-row;
    justify-content: space-between;
    p {
      font-size: 14px;
      line-height: 22px;
      font-family: $primaryFontRegular;
      color: $darkGrey;
    }
  }
}
