.model-item
    img(src="../img/models.png", alt="models")
    .model-item__title Коктейльное <br> платье
    .model-item__price ₽ 40 000
    .borderLeftTop 
    .borderRightTop 
    .borderRightBottom 
    .borderLeftBottom